@font-face {
  font-family: "IRANSans";
  src: url("../font/IRANSansWeb.eot");
  src: url("../font/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSansWeb.woff") format("woff");
}

*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  borderradius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #536dfe;
  border-radius: 5px;
}
